<div class="product-search-wrap">
  <div class="container">
    <div class="product-search">

      <div class="product-search-left" >
        <div class="category-list"  *ngIf="categories.length > 0 && loading === false" >
          <div class="title ">
            Brands
          </div>
          <ul class="category-menu ">
            <li class="category-item  has-dropdown drop-parent " *ngFor="let eachCat of categories" >
              <a [routerLink]="['/', shop_slug,'brands', eachCat.id]"
                 class="category-link">
                {{eachCat.title}}
              </a>
            </li>

          </ul>
        </div>
        <div class="category-list-dummy bg-white p-3 mb-5" *ngIf="loading === true" style="min-height: 650px">
          <div class="categories-list">
            <div class="ph-item abs" style="height: 50px; ">
              <div class="ph-picture "  ></div>
            </div>
            <ul class="menu" >
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
              <li class="menu-item" >
                <a>
                  <div class="ph-item abs" style="height: 30px; ">
                    <div class="ph-picture "  ></div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="filter-section-wrap" *ngIf="loading === false && min_max_price === false  ">
          <div class="filter-section-header"><h4 class="section-title">
            Filters
          </h4> <i class="las la-times sidebar-filter-close" (click)="closeFilter()"></i></div>
          <div class="filter-section-inner custom-scrollbar">
            <div class="filter-section"><h6>Price</h6>
              <form action="" (ngSubmit)="getCategoryProducts()">
                <div class="filter-price">
                <div class="price-input">
                  <div class="form-group"><input type="number" name="start_price" id="price-from" class="form-control price-from" [(ngModel)]="param.start_price" ></div>
                  <div class="form-group"><input type="number" name="end_price" id="price-to" class="form-control price-to" [(ngModel)]="param.end_price" ></div>
                </div>
                <div class="form-group price-range mt-2">
                  <ngx-slider

                    [options]="options"
                    [(value)]="param.start_price"
                    [(highValue)]="param.end_price"

                  ></ngx-slider>

                </div>
                <div class="form-group">
                  <input type="text" placeholder="Search" class="form-control" name="keyword" [(ngModel)]="param.keyword" >
                </div>
                <div class="text-right">
                  <button  class="btn btn-primary ">Submit</button>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="filter-section-wrap mt-5" *ngIf="loading === true">
          <div class="filter-section-header"><h4 class="section-title">
            <div class="ph-item abs" style="height: 50px; width: 100%">
              <div class="ph-picture "  ></div>
            </div>
          </h4> <i class="las la-times sidebar-filter-close" ></i></div>
          <div class="filter-section-inner custom-scrollbar">
            <div class="filter-section"><h6>
              <div class="ph-item abs" style="height: 50px;width: 100px ">
                <div class="ph-picture "  ></div>
              </div>
            </h6>
              <div class="filter-price">
                <div class="price-input">
                  <div class="form-group">
                    <div class="ph-item abs" style="height: 50px;width: 100px ">
                      <div class="ph-picture "  ></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="ph-item abs" style="height: 50px; width: 100px ">
                      <div class="ph-picture "  ></div>
                    </div>
                  </div>
                </div>
                <div class="form-group price-range mt-2">
                  <div class="ph-item abs" style="height: 50px; width: 100% ">
                    <div class="ph-picture "  ></div>
                  </div>

                </div>
                <div class="form-group">
                  <div class="ph-item abs" style="height: 50px; width: 100% ">
                    <div class="ph-picture "  ></div>
                  </div>
                </div>
                <div class="text-right">
                  <div class="ph-item abs" style="height: 50px; width: 50px ; margin-left: auto; margin-right: 0;">
                    <div class="ph-picture "  ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>

      <div class="product-search-right">
        <div class="search-result">
          <div class="search-result-top"  *ngIf="loading === false">
            <div class="content-left position-relative clearfix">
              <h4 *ngIf="title != null" class="gradient-text-theme d-inline-block" style="font-weight: 500">{{title}}</h4>
              <div class="topbar-btn float-right" (click)="toggleCategories(0)">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </div>
            <div class="content-right">
              <div class="mobile-view-filter" (click)="openFilter()"><i class="las la-sliders-h"></i>
                Filters
              </div>
              <div class="sorting-bar">
                <div class="form-group m-r-20">
                  <select class="form-control custom-select-option right arrow-black" [(ngModel)]="param.filter" (ngModelChange)="getCategoryProducts()">
                    <option value="" selected>Default</option>
                    <option value="title_asc">Name (A - Z)</option>
                    <option value="title_desc">Name (Z - A)</option>
                    <option value="price_asc">Price (Low &gt; High)</option>
                    <option value="price_desc">Price (High &gt; Low)</option>
                    <option value="views_asc">Views (Low &gt; High)</option>
                    <option value="views_desc">Views (High &gt; Low)</option>
                    <option value="brand_asc">Brand (A - Z)</option>
                    <option value="brand_desc">Brand (Z - A)</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control custom-select-option right arrow-black" [(ngModel)]="param.limit" (ngModelChange)="getCategoryProducts()">
                    <option selected  value="10">
                      10
                    </option>
                    <option value="20">
                      20
                    </option>
                    <option value="30" selected="selected">
                      30
                    </option>
                    <option value="40">
                      40
                    </option>
                    <option value="50">
                      50
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="search-result-top" *ngIf="loading === true">
            <div class="content-left"><h4 class="gradient-text-theme" style="font-weight: 500">
              <div class="ph-item abs" style="height: 50px; width: 100px">
                <div class="ph-picture "  ></div>
              </div>
            </h4>
            </div>
            <div class="content-right">
              <div class="mobile-view-filter" (click)="openFilter()"><i class="las la-sliders-h"></i>
                Filters
              </div>
              <div class="sorting-bar">
                <div class="ph-item abs" style="height: 50px; width: 100px">
                  <div class="ph-picture "  ></div>
                </div>
                <div class="form-group">
                  <div class="ph-item abs" style="height: 50px; width: 100px">
                    <div class="ph-picture "  ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="slideLoading == false">
            <div *ngIf="products.length == 0">
              <div class="wrap-no-data" >
                <div class="container text-center  bg-white noDataFound ">
                  <img src="../../assets/img/not_found.svg" alt="">
                  <!--          <h1 class="display-1">No Product Found</h1>-->
                </div>
              </div>
            </div>
            <div class="products-list-wrapper" >
              <div class="row sm-gutters row-cols-xl-5 row-cols-lg-5 row-cols-md-4 row-cols-sm-3  row-cols-2 "  *ngIf="products.length > 0">
                <div class="col mb-1" *ngFor="let eachProduct of products; let fIndex = index;" >
                  <app-product-box   [eachProduct]="eachProduct"  [fIndex]="fIndex"></app-product-box>
                </div>
              </div>
              <ng-laravel-pagination theme="theme-default" [data]="laravelData" align="right" [pageDesc]="true" (changePage)="changePage($event)"></ng-laravel-pagination>
            </div>
          </div>
          <ng-container *ngIf="slideLoading  === true">
            <div class="landscape-tab-products-wrap clearfix">
            <div class="container">
              <div class="row sm-gutters row-cols-xl-5 row-cols-lg-5 row-cols-md-4 row-cols-sm-3  row-cols-2 ">
                <div class="col mb-1 w-100" *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]">
                  <div class="product-card-wrapper">
                    <a  class="product-card" >
                      <div class="product-card-top">
                        <div
                          class="product-image" >
                          <div class="ph-item abs">
                            <div class="ph-picture">
                              <div class="brand-text-wrapper">
                                <div [fittext]="true" [activateOnResize]="true" class="brand-text">MODDHOBITTO</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <ul class="list-inline product-badge"></ul>
                      </div>
                      <div class="product-card-middle">
                        <div class="ph-item abs w-100" >
                          <div class="ph-picture product-name " ></div>
                        </div>
                      </div>
                      <div class="product-card-bottom" >
                        <div class="btn-price" tabindex="0">
                          <div class="ph-item abs" style="width: 75%;height: 20px;margin-bottom: 10px">
                            <div class="ph-picture Price_Current" ></div>
                          </div>
                          <div class="ph-item abs " style="width: 50%;height: 20px">
                            <div class="ph-picture Price_Was " ></div>
                          </div>
                          <div class="ph-item abs float-right" style="width: 50px;height: 20px; position: relative; bottom: 20px">
                            <div class="ph-picture   " ></div>
                          </div>

                        </div>
                      </div>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
          </ng-container>
        </div>

      </div>

    </div>
  </div>
</div>


<div class="modal" id="SideCategoryModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header pl-0">
        <div class="title ">
          Brands
        </div>
        <button type="button" class="close" (click)="toggleCategories(1)" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body SideCategoryModalBody">
        <div class="category-list"  *ngIf="categories.length > 0 && loading === false" >
          <ul class="category-menu ">
            <li class="category-item  has-dropdown drop-parent " *ngFor="let eachCat of categories" >
              <a [routerLink]="['/', shop_slug,'brands', eachCat.id]"
                 class="category-link">
                {{eachCat.title}}
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
