<div class="contact-us">
  <div class="container">
    <div class="contact-us-wrapper">
        <div id="map" class="map" >
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.2903665794747!2d89.22640811542477!3d23.159600117003464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff111ad4a5d425%3A0x4af1449b5b65774a!2z4Kau4Kan4KeN4Kav4Kas4Ka_4Kak4KeN4KakIOCmoeCmnyDgppXgpq4!5e0!3m2!1sen!2sbd!4v1626434552843!5m2!1sen!2sbd" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <br>
        <br>
      <div class="contact-wrapper">
      <div class="row">
        <div class="col-lg-6" *ngIf="webData != null">
          <div class="title">
            <h1 class="display-4 theme-color">Contact Us</h1>
          </div>
          <div class="content">
            <div class="call">
              <div class="row">
                <div class="col-1">
                 <i class="las la-phone icon"></i>
                </div>
                <div class="col-11">
                  <h4 class="theme-color">{{webData.phone}}</h4>
                </div>
              </div>


            </div>
            <br>
            <div class="address">
              <div class="row">
                <div class="col-1">
                  <i class="las la-map-marked icon"></i>
                </div>
                <div class="col-11">{{webData.address}}</div>
              </div>
            </div>
            <br>
            <div class="email">
              <div class="row">
                <div class="col-1"><i class="las la-envelope icon"></i></div>
                <div class="col-11">{{webData.email}}</div>
              </div>
            </div>
            <div class="social-link">
              <a *ngIf="webData.social_facebook != null" [routerLink]="webData.social_facebook"><i class="lab la-facebook-f"></i></a>
              <a *ngIf="webData.social_youtube != null" [routerLink]="webData.social_youtube"><i class="lab la-youtube"></i></a>
              <a *ngIf="webData.social_instagram != null" [routerLink]="webData.social_instagram"><i class="lab la-instagram"></i></a>
              <a *ngIf="webData.social_twitter != null" [routerLink]="webData.social_twitter"><i class="lab la-twitter"></i></a>
              <a *ngIf="webData.social_linkedIn != null" [routerLink]="webData.social_linkedIn"><i class="lab la-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="title">
            <p class="theme-color " style="font-size: 30px">Ask A Question?</p>
          </div>
          <div class="form-group"><label for="name">Name<span>*</span></label>
            <input type="text" name="name" [(ngModel)]="formData.name" id="name" class="form-control" placeholder="Name">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group"><label for="email">Email<span>*</span></label>
            <input type="email" [(ngModel)]="formData.email" name="email" id="email" class="form-control" placeholder="Email">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group"><label for="sub">Subject<span>*</span></label>
            <input type="text" [(ngModel)]="formData.subject" name="subject" id="sub" class="form-control"  placeholder="Subject">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group"><label for="message">Message<span>*</span></label>
            <textarea name="message" [(ngModel)]="formData.message"  class="form-control" id="message" style="min-height: 200px" placeholder="Message"></textarea>
            <div class="invalid-feedback"></div>
          </div>
          <button (click)="SendMessage()" *ngIf=" loading === false" type="submit" data-loading="" class="btn btn-primary btn-sign-in">
            Send Message
          </button>
          <button *ngIf=" loading === true" type="button" disabled data-loading="" class="btn btn-primary btn-sign-in">
            <i class="las la-spinner"></i>
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
