<section class="form-wrap register-wrap">
  <div class="container">
    <div class="form-wrap-inner register-wrap-inner"><h2>Forgot Password</h2>
      <p>Enter your account email or Phone receive a OTP to reset your password.</p>
      <form method="POST">
        <div class="form-group">
          <label for="email">Email or Phone<span>*</span></label>
          <input type="text" name="email" value=""
                 id="email" autofocus="autofocus"
                 class="form-control" [(ngModel)]="requestForm.email">
          <div class="invalid-feedback"></div>
        </div>
        <button *ngIf=" loadingbtn === false" (click)="request()" type="submit" data-loading="" class="btn btn-primary btn-sign-in">
          Submit
        </button>

        <button *ngIf=" loadingbtn === true" type="button" disabled data-loading="" class="btn btn-primary btn-sign-in">
          <i class="las la-spinner"></i>
        </button>
      </form>
    </div>
  </div>
</section>
