
<section class="profile-section">
  <div class="container " >
    <div class="contact-info">
      <div class="row">
        <div class="col-lg-3">
          <app-profile-link></app-profile-link>
        </div>
        <div class="col-lg-9">
          <!--   Change Password   -->
          <div class="user-info">
            <div class="password-wrap">
              <div class="tab-products-header clearfix mb-4">
                <ul class="tabs float-left">
                  <li class="tab-item active">
                    Change Password
                  </li>
                </ul>
              </div>
              <form (ngSubmit)="UpdatePassword()">
                <div class="input-group mb-4">
                  <input type="password" placeholder="old password" class="form-control" name="old_password" [(ngModel)]="updatePassword.old_password">
                </div>
                <div class="invalid-feedback"></div>
                <div class="input-group mb-4">
                  <input type="password" placeholder="New password" class="form-control" name="new_password" [(ngModel)]="updatePassword.password">
                </div>
                <div class="invalid-feedback"></div>
                <div class="input-group mb-4">
                  <input type="password" placeholder="confirm password" class="form-control" name="password_confirmation" [(ngModel)]="updatePassword.password_confirmation">
                </div>
                <div class="invalid-feedback"></div>

                <div class="input-group mb-4">
                  <button *ngIf=" loadingbtn === false" type="submit" data-loading="" class="btn updateBtn btn-block btn-sign-in">
                    Change
                  </button>

                  <button *ngIf=" loadingbtn === true" type="button" disabled data-loading="" class="btn updateBtn btn-block btn-sign-in">
                    <i class="las la-spinner"></i>
                  </button>
                </div>
              </form>
            </div>

          </div>
          <!--   Contact Information   -->
        </div>
      </div>


    </div>
  </div>


</section>
