<div class="SuccessCardWrap">
  <div class="container">
    <div class="SuccessCard">
      <div class="gif-image">
        <div class="o-circle c-container__circle o-circle__sign--failure">
          <div class="o-circle__sign"></div>
        </div>
      </div>
      <h1>Payment Failed</h1>
      <p>Please provide right information;<br/> Or system fail try again</p>
      <br>
      <div class="text-center">
        <a class="btn" [routerLink]="['/']">Continue Shopping  <i class="las la-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
