<section class="custom-page-wrap ">
  <div class="container">
    <div class="custom-page-content clearfix"><h1 style="text-align: center;">Help &amp; FAQ</h1>
      <p>&nbsp;</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.</p>

      <p>&nbsp;</p> <h4>What does LOREM mean?</h4>
      <p>‘Lorem ipsum dolor sit amet, consectetur adipisici elit…’ (complete text) is dummy text that is not meant to
        mean anything. It is used as a placeholder in magazine layouts, for example, in order to give an impression of
        the finished document. The text is intentionally unintelligible so that the viewer is not distracted by the
        content. The language is not real Latin and even the first word ‘Lorem’ does not exist. It is said that the
        lorem ipsum text has been common among typesetters since the 16th century.</p>

      <p>&nbsp;</p> <h4>Why do we use it?</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
        will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like).</p>

      <p>&nbsp;</p> <h4>Where does it come from?</h4>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source.</p>

      <p>&nbsp;</p> <h4>Where can I get some?</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
        to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
        text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
        the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
        of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
        therefore always free from repetition, injected humour, or non-characteristic words etc.</p>

      <p>&nbsp;</p> <h4>Why do we use Lorem Ipsum?</h4>
      <p>Many times, readers will get distracted by readable text when looking at the layout of a page. Instead of using
        filler text that says “Insert content here,” Lorem Ipsum uses a normal distribution of letters, making it
        resemble standard English. This makes it easier for designers to focus on visual elements, as opposed to what
        the text on a page actually says. Lorem Ipsum is absolutely necessary in most design cases, too. Web design
        projects like landing pages, website redesigns and so on only look as intended when they're fully-fleshed out
        with content.</p></div>
  </div>
</section>
