<!--Pre View Order Details Component-->
<div class="preview-order-details mb-5 mt-5">
  <div class="container p-5 card" style="padding: 0;">
    <div class="row ">

      <!--   User Details   -->
      <div class="box user-details col-md-5">
        <div class="tab-products-header clearfix mb-4">
          <ul class="tabs float-left">
            <li class="tab-item active">
             User Details
            </li>
          </ul>
        </div>

        <div class="info ">
          <table class="table table-bordered">
            <tr>
              <td>Name</td>
              <td>Ali Haider Swccho</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>01740684761</td>
            </tr>
            <tr>
            <td>Address Title</td>
            <td>Kazipur</td>
            </tr>
          </table>
        </div>
      </div>

      <!--   Order Status   -->
      <div class="box order-status col-md-5 offset-2">
        <div class="tab-products-header clearfix mb-4">
          <ul class="tabs float-left">
            <li class="tab-item active">
              Order Status
            </li>
          </ul>
        </div>

        <div class="pending" style="min-height: 300px">
<!--          <img src="../../assets/img/pending.svg" alt="">-->
          <button class="btn btn-background-theme">Order Pending </button>
        </div>

      </div>

      <!--   Each Products   -->
      <div class="products col-md-12">
        <div class="tab-products-header clearfix mb-4">
          <ul class="tabs float-left">
            <li class="tab-item active">
              Products
            </li>
          </ul>
        </div>

        <div class="product-wrap">
          <div class="each-product d-flex justify-content-between" >
            <div class="product-image" style="background-image: url(https://via.placeholder.com/300x300?Text=Digital.com)"></div>
            <div class="product-name_features">
              <div class="name"><a href="javascript:void(0)"  >WEITIS Deep Cleansing Blackhead Remover</a></div>
              <div class="features">Type : Peel Mask
                Use : Whole Face
                Net Weight : 50ml
                Gender : Unisex
                Origin : China
                Feature : Acne Treatment
                Item Type : Treatment & Mask
                Ingredient : Bamboo</div>
            </div>
            <div class="d-flex  justify-content-between">
              <div class="product-price_delete_wishlist">
                <div class="price">
                  1200৳
                </div>
                <div class="actions d-flex justify-content-between">
                  <button title="Wishlist" class="btn btn-wishlist" tabindex="0" >
                    <i class="la-heart lar"></i>
                  </button>

                  <button title="Delete" class="btn btn-trash" tabindex="0" ><i class="las la-trash"></i></button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
